In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("mercedesbenz.csv")
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data = pd.read_csv("mercedesbenz.csv",usecols=['X1','X2'])

In [4]:
data.tail()

     X1  X2
4204  s  as
4205  o   t
4206  v   r
4207  r   e
4208  r  ae

In [5]:
data["X1"].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [6]:
len(data['X1'].unique())

27

In [7]:
data["X2"].unique()

array(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k',
       'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y',
       'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am',
       'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar'], dtype=object)

In [8]:
len(data["X2"].unique())

44

In [9]:
for col in data : 
    print(col, " : ",len(data[col].unique()),"labels")

X1  :  27 labels
X2  :  44 labels

In [10]:
data.shape

(4209, 2)

In [18]:
 pd.get_dummies(data,drop_first=True).shape

(4209, 69)

In [30]:
data.X2.value_counts().sort_values(ascending=False).head(20)

X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: count, dtype: int64

In [35]:
top_10_labels = [y for y in data.X2.value_counts().sort_values(ascending=False).head(10).index]

In [36]:
top_10_labels

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [42]:
def one_hot_encoding(df,varible,top_x_labels):
    for label in top_x_labels:
        df[varible+"_"+ label] = np.where(df[varible]==label,1,0)

In [43]:
df = pd.read_csv("mercedesbenz.csv",usecols=["X1","X2"])

one_hot_encoding(df,"X2",top_10_labels)

In [44]:
df.head()

  X1  X2  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0  v  at      0      0      0     0      0     0     0     0     0     0
1  t  av      0      0      0     0      0     0     0     0     0     0
2  w   n      0      0      0     0      0     0     1     0     0     0
3  t   n      0      0      0     0      0     0     1     0     0     0
4  v   n      0      0      0     0      0     0     1     0     0     0